body{
    background-color: black;
    background-image:url(images/phrogs\ bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    color:lavender;
    font-family: 'Gill Sans';
    font-size:25px;
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
    text-shadow: 0 0 5px black;
    text-align:center;
    margin:15px;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    flex: 1 0;   
    font-family: sans-serif;
}
.green{
    background-color: darkslategray;
    border:5px solid darkolivegreen;
    margin:0px;
    padding:50px;
}
a{
    margin: 15px;
    display:block;
    padding: 10px;
    text-align: center;
    height:25px;
    font-size: 30px;
    color:white;
    font-family: 'Gill Sans';
}
p{
    font-size:40px;
    line-height:0.05;
}
.title{
    margin: 15px;
    display:block;
    padding: 10px;
    text-align: center;
    width:500px;
    height:25px;
    font-size: 40px;
    color:white;
    font-family: 'Gill Sans';
}
.pagename{
    font-size: 100px;
    margin:0px;
}
/* #region */Slider
.slider{
    position:relative;
    width: 100%;
    margin:auto;
    overflow:hidden;
    text-align: center;
    justify-content: center;
}
.slider img{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display:none;
    text-align: center;
    justify-content: center;
}
img.displaySlide{
    display: block;
    animation-name:fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: green;
    color:white;
    border:none;
    cursor:pointer;
}
.prev{
    left:0;
}
.next{
    right:0;
}
@keyframes fade {
    from {opacity: .5;};
    to {opacity: 1;};
}
/* #endregion */
.bio {
    font-size: 50px;
}
.windows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.oakley{
    background: orange;
    width: 1080px;
    margin:10px;
    border-radius: 15px;
    padding:10px;
}
.sophie{
    background: rebeccapurple;
    width: 1080px;
    margin:10px;
    border-radius: 15px;
    padding:10px;
}
.shyley{
    background: yellow;
    width: 1080px;
    margin:10px;
    border-radius: 15px;
    padding:10px;
}
.turtle{
    background: deeppink;
    width: 1080px;
    margin:10px;
    border-radius: 15px;
    padding:10px;
}
.jimi{
    background: red;
    width: 1080px;
    margin:10px;
    border-radius: 15px;
    padding:10px;
}